<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jumanji</title>

    <!-- BOOSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    
    <!-- BASE CSS -->
    <link rel="stylesheet" href="../static/styles/base.css">

    <!-- l&d CSS -->
    <link rel="stylesheet" href="../static/styles/l&d.css">

    <!-- VENTANAS EMERGENTES --> 
    <link rel="stylesheet" href="../static/styles/ventanas_emergentes.css">
    
    <!-- INICIO SESION CSS -->
    <link rel="stylesheet" href="../static/styles/inicio_sesion.css">

    <!-- LOGO TIENDA -->
    <link rel="icon" type="image/png" href="../static/img/logo_tienda_sf.png">

    <!-- ICONOS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
    
    <!-- API GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <!-- LETRA NAV -->
    <link href="https://fonts.googleapis.com/css2?family=Eater&display=swap" rel="stylesheet">

    <!-- LETRA NORMAL -->
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap" rel="stylesheet">


</head>
<body>
    <main>

        <!-- SECCION INICIO DE SESION -->
        <section>
            <div class="container-img-inicio-sesion">

                <!-- L%D -->
                <div class="contenedor-icons-switch m-3 p-3">
                    <i class="fa-solid fa-sun iconos-ld-izquierda descripcion"></i>
                        <label class="switch"> 
                            <input type="checkbox" id="l&d-input">
                            <span class="slider round"></span>
                        </label>
                    <i class="fa-solid fa-moon iconos-ld-derecha descripcion"></i>
                </div>
              
                <!-- CAJA LOG-IN -->
                <div class="p-4 log-in-box">
                    <form id="iniciarSesionForm" >
                        
                        <div class="row">
                            
                            <div class="col mb-4 letra-especial text-center">
                                <h1> Iniciar Sesión </h1>
                            </div>

                        </div>

                        <div class="row">

                            <label for="emailUser" class="form-label mb-2 letra-normal letra-normal-bold "> Email </label>
                            <input type="email" class="mb-4 letra-normal input-transparente color-letra-dinamico" id="emailUser" name="emailUser" placeholder="Ingresa tu email" required>
                            
                        </div>

                        <div class="row">

                            <label for="contrasenaUser" class="form-label mb-2 letra-normal letra-normal-bold"> Contraseña </label>
                            <input type="password" class="mb-3 letra-normal input-transparente color-letra-dinamico" id="contrasenaUser" name="contrasenaUser" placeholder="Ingresa tu contraseña" required>

                        </div>

                        <div class="row-12 text-center mb-3">
                            <a class="recuperar-pass-a" id="botonRecuperarPass">
                                ¿Ha olvidado su contraseña?
                            </a>
                        </div>

                        <div class="row-12 text-center mb-3">
                            <button type="submit" class="btn-bd-primary letra-normal p-2 w-100" id="botonIniciarSesion">
                                Iniciar Sesión
                            </button>
                        </div>

                        <div class="row-12 text-center mb-3">
                            <button class="btn-bd-primary letra-normal p-2 w-100 text-center d-block" type="button" id="botonCrearCuenta">
                                Crear Cuenta
                            </button>
                        </div>


                    </form>
                </div>

            </div>
        </section>

        <!-- CREAR USUARIO FORM -->
        <section>
            <div class="ventanaCrearUsuario" id="ventanaCrearUsuario">
                <div class="carta-juego p-3">

                    <div class="carta-header-juego text-center mt-3">
                        <div class="letra-especial"> CREAR PERSONAJE</div>
                        <div class="letra-normal">Registra tu cuenta para entrar al mundo</div>
                    </div>

                    <form class="carta-body-juego" id="formCrearCuenta">

                        <div class="mb-4">
                            <label for="crearNombreUser" class="form-label letra-normal letra-normal-bold">Nombre</label>
                            <input type="text"  id="crearNombreUser" name="crearNombreUser" class="input-transparente letra-normal w-100" placeholder="Nombre" required>
                        </div>

                        <div class="mb-4 row">

                            <div class="col-6">
                                <label for="crearApellidoPaterno" class="form-label letra-normal letra-normal-bold">Apellido Paterno</label>
                                <input type="text" id="crearApellidoPaterno" name="crearApellidoPaterno" class="input-transparente letra-normal w-100" placeholder="Apellido" required>
                            </div>


                            <div class="col-6">
                                <label for="crearApellidoMaterno" class="form-label letra-normal letra-normal-bold">Apellido Materno</label>
                                <input type="text" id="crearApellidoMaterno" name="crearApellidoMaterno" class="input-transparente letra-normal w-100 p-10" placeholder="Apellido">
                            </div>

                        </div>

                        <div class="mb-4">
                            <label for="crearEmailUsuario" class="form-label letra-normal letra-normal-bold">Email</label>
                            <input type="email" id="crearEmailUsuario" name="crearEmailUsuario" class="input-transparente letra-normal w-100 m-1" placeholder="tuemail@correo.com" required>
                        </div>

                        <div class="mb-4">
                            <label for="crearDireccionUsuario" class="form-label letra-normal letra-normal-bold">Dirección</label>
                            <input type="text" id="crearDireccionUsuario" name="crearDireccionUsuario" class="input-transparente letra-normal w-100" placeholder="Dirección" required>
                        </div>


                        <div class="row mb-4">
                            <div class="col-6">
                                <label for="crearContrasenaUsuario" class="form-label letra-normal letra-normal-bold">Contraseña</label>
                                <input type="password" id="crearContrasenaUsuario" name="crearContrasenaUsuario" class="input-transparente letra-normal w-100" placeholder="••••••••" required>
                            </div>

                            <div class="col-6">
                                <label for="crearRepetirContrasenaUsuario" class="form-label letra-normal letra-normal-bold">Repetir</label>
                                <input type="password" id="crearRepetirContrasenaUsuario" name="crearRepetirContrasenaUsuario" class="input-transparente letra-normal w-100" placeholder="••••••••" required>
                            </div>
                        </div>


                        <div class="row-12 text-center mb-3">
                            <button type="submit" class="btn-bd-primary letra-normal p-2 w-100 d-block text-center" id="botonEnviarForm">
                                Crear
                            </button>
                        </div>

                        <div class="row-12 text-center mb-3">
                            <button class="btn-bd-primary letra-normal p-2 w-100 text-center d-block" type="button" id="cerrarCrearUsuario">
                                Cerrar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- RECUPERAR CONTRASEÑA FORM -->
        <section>
            <div class="ventanaRecuperarContresena" id="ventanaRecuperarContresena">
                <div class="carta-juego p-3">

                    <div class="carta-header-juego text-center mt-3">
                        <div class="letra-especial"> RECUPERAR PERSONAJE </div>
                        <div class="letra-normal"></div>
                    </div>

                    <form class="carta-body-juego" id="formOlvidador">

                        <div class="mb-4">
                            <label for="nombreDelOlvidador" class="form-label letra-normal letra-normal-bold">Nombre</label>
                            <input type="text"  id="nombreDelOlvidador" name="nombreDelOlvidador" class="input-transparente letra-normal w-100" placeholder="Nombre" required>
                        </div>

                        <div class="mb-4 row">

                            <div class="col-12">
                                <label for="apellidoPaternoDelOlvidador" class="form-label letra-normal letra-normal-bold">Apellido Paterno</label>
                                <input type="text" id="apellidoPaternoDelOlvidador" name="apellidoPaternoDelOlvidador" class="input-transparente letra-normal w-100" placeholder="Apellido Paterno" required>
                            </div>

                        </div>

                        <div class="mb-4">
                            <label for="emailDelOlvidador" class="form-label letra-normal letra-normal-bold">Email</label>
                            <input type="email" id="emailDelOlvidador" name="emailDelOlvidador" class="input-transparente letra-normal w-100 m-1" placeholder="tuemail@correo.com" required>
                        </div>


                        <div class="row-12 text-center mb-3">
                            <button type="submit" class="btn-bd-primary letra-normal p-2 w-100 d-block text-center" id="botonOlvidador">
                                Recuperar
                            </button>
                        </div>

                        <div class="row-12 text-center mb-3">
                            <button class="btn-bd-primary letra-normal p-2 w-100 text-center d-block" type="button" id="cerrarOlvidador">
                                Cerrar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </section>


    </main>

    <!-- BOOSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>

    <!-- JS LIGHT AND DARK -->
    <script src="../static/js/l&d.js"></script>

    <!-- MODULES -->
    <script type="module" src="../static/js/inicio_sesion.js"></script>
    <script type="module" src="../static/js/form_crear_cuenta.js"></script>
    <script type="module" src="../static/js/recuperar_contrasena.js"></script>
</body>
</html>

