<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="../admin/home_admin.html"> Estas en admin gestion de productos, Volver al home</a>
    <!--
        Crear productos.
        Editar productos.
        Eliminar productos.
        Modificar precio.
        Modificar descuento.
        Cambiar imagen.
        Cambiar categoría.
    -->    

    <!-- PROTEGER URL ADMIN -->
    <script type="module" src="../../static/js/proteger_url_admin.js"></script> 
</body>
</html>