<a href="inicio_user.html"> Estas en Rol, aprieta para volver a Home </a>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>







    
    <!-- FOOTER COMPLETO -->
    <footer class="footer p-4">

        <div class="footer-contenido">

            <div class="footer-columna">
                <ul>
                    <li class="letra-especial subtitulo" id="footer_contacto">Contacto</li>
                    
                    <li>
                        <a href="" class="letra-normal color-letra-dinamico">Correo</a>
                    </li>

                    <li>
                        <a href="" class="letra-normal color-letra-dinamico">Teléfono</a>
                    </li>

                    <li>
                        <a href="" class="letra-normal color-letra-dinamico">Dirección</a>
                    </li>

                </ul>
            </div>

            <div class="footer-columna">
                <ul>
                    <li class="letra-especial subtitulo">Redes</li>

                    <li>
                        <a href="" class="letra-normal color-letra-dinamico">Facebook</a>
                    </li>
                    <li>
                        <a href="" class="letra-normal color-letra-dinamico">Instagram</a>
                    </li>
                    <li>
                        <a href="" class="letra-normal color-letra-dinamico">Twitter</a>
                    </li>
                </ul>
            </div>

            <div class="footer-columna">
                <ul>

                    <li class="letra-especial subtitulo">Comunidad</li> 

                    <li>
                        <a href="#" class="letra-normal color-letra-dinamico">Grupo WhatsApp</a>
                    </li>

                    <li>
                        <a href="#" class="letra-normal color-letra-dinamico">Discord</a>
                    </li>

                    <li>
                        <a href="#" class="letra-normal color-letra-dinamico">Eventos</a>
                    </li>
                </ul>                
            </div>

        </div>

        <div class="letra-especial subtitulo text-center copyright p-3">
            <h4>Copyright © 2026 Jumanji. Todos los derechos reservados.</h4>
        </div>
    </footer>


    <!-- JS LIGHT AND DARK -->
    <script src="../../static/js/l&d.js"></script>

    <!-- NAV JS -->
     <script src="../../static/js/nav.js"></script> 

    <!-- CERRAR SESION JS -->
     <script src="../../static/js/cerrar_sesion.js"></script> 
</body>
</html>